<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbIu_9qYtj4L7zLRBL3pdEu-q8TRwftEo</string>
	<key>GCM_SENDER_ID</key>
	<string>401174183686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IdkYet.TriviaWiki</string>
	<key>PROJECT_ID</key>
	<string>triviaapp-5a896</string>
	<key>STORAGE_BUCKET</key>
	<string>triviaapp-5a896.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401174183686:ios:bf93ccf5600e139336e887</string>
</dict>
</plist>